{% extends 'encadmin/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Image Encryption Using Steganography</h5>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Text Input -->
            <div class="form-group">
                <label for="file">Upload Image File (PNG only):</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".png" required>
            </div>
            <br>
            <!-- Key Input -->
            <div class="form-group">
                <label for="key">Key:</label>
                <input type="text" class="form-control" id="key" name="key" placeholder="Enter key" required>
            </div>
            <br>
            <!-- Message Input -->
            <div class="form-group">
                <label for="message">Message to hide:</label>
                <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
            </div>
            <br>
            <!-- User Selection -->
            <div class="form-group">
                <label for="dropdown">Select a user:</label>
                <select class="form-control" id="dropdown" name="dropdown" required>
                    <option value="">Select a user</option>
                    <option value="for everyone">For Everyone</option>
                    {% for i in users %}
                        <option value="{{ i.username }}">{{ i.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Encrypt</button>
        </form>
      


        <br>

        <div class="container">
            <h2>Encrypted Image</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Original Image</th>
                  <th>Encrypted Image</th>
                  <th>Key</th>
                  <th>Message
                  <th>Read</th>
                  <th>Sent Date</th>
                  <th>Viewer</th>
                  <th>Delete</th>

                </tr>
              </thead>
              <tbody>
                {% for text in images %}
                <tr>
                  <td>
                    <img src="{{ text.original_file.url }}" height="50px">
                </td>
                <td>
                    <img src="{{ text.encrypted_file.url }}" height="50px">                    
                </td>
                  <td>{{ text.key }}</td>
                  <td>{{ text.message }}</td>

                  <td>
                    {% if text.read %}
                      <span class="text-success">&#10004;</span> <!-- Green tick mark -->
                    {% else %}
                      <span class="text-danger">&#10008;</span> <!-- Red cross mark -->
                    {% endif %}
                  </td>                  
                  <td>{{ text.date|date:"d-m-Y" }}</td>
                  <td>{{ text.user_name }}</td>
                  <td><a href="{% url 'delete_image' text.pk %}" class="btn btn-danger">Delete</a></td> 

                </tr>
                {% endfor %}
              </tbody> 
            </table>
          </div>
    </div>
    </div>
</div>

<br>
<br>





{% endblock %}