{% extends 'encadmin/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">Manage Users</h5>
        <br>
        <h5 class="card-title mb-4">View Users</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Profile Picture</th>
                    <th>Verified</th>
                    <th>Verify</th>
                    <th>Delete</th>


                </tr>
            </thead>
            <tbody>
                <!-- Replace the content inside the loop with your actual data -->
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.get_full_name }}</td>
                        <td>
                            {% if user.profile_picture %}
                                <img src="{{ user.imageURL }}" alt="{{ user.username }}'s Profile Picture" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                                No Image
                            {% endif %}
                        </td>
                        <td>
                            {% if user.verified %}
                              <span class="text-success">&#10004;</span> <!-- Green tick mark -->
                            {% else %}
                              <span class="text-danger">&#10008;</span> <!-- Red cross mark -->
                            {% endif %}
                        </td>   
                        <td><a href="{% url 'verify_user' user.pk %}" class="btn btn-success">Verify</a></td>

                        <td><a href="{% url 'delete_user' user.pk %}"><span style="font-size:20px; color:red; font-weight:700;">&#128465;</span></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>



{% endblock %}